<ul class="categories">
  <li>
    <button title="Valentine's Day" data-toggle="dropdownA" class="dropdown-toggle" aria-haspopup="true">CATEGORIA A</button>
    <div aria-labelledby="" id="dropdownA" class="mega toggle-content">
      <div class="col">
        <p><strong>Categoria A</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id fugit blanditiis reprehenderit repellat modi deleniti natus quidem dolorum quo sint itaque, odit magnam beatae quis sequi nisi illo error voluptatibus.</p> <a class="button" href="#" target="_self">Shop all</a>
      </div>
      <div class="col">
        <p>lorem</p>
        <ul>
          <li>
            <a href="#"> Lorem, ipsum.</a>
          </li>
          <li>
            <a href="#"> Lorem, ipsum.</a>
          </li>
          <li>
            <a href="#"> Lorem, ipsum.</a>
          </li>
        </ul>
      </div>
      <figure class="col">
        <img src="" alt="una imagen" srcset="">
      </figure>
    </div>
  </li>
</ul>


<style>
  [aria-hidden='true'] {
    display: none;
  }

  .categories,
  .categories [data-toggle] {
    height: 3rem;
  }

  .categories {
    display: flex;
    flex-flow: row wrap;
    background-color: coral;
  }

  .categories>* {
    flex: 1;
  }

  .toggle-content {
    padding: 1ex;
  }

  [data-toggle] {
    position: relative;
  }

  /* solo el boton que haya sido expandido obtiene el rombo */
  [data-toggle][aria-expanded=true]::before {
    --size: 1rem;

    content: "";
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc(3rem - var(--size)/2);
    left: 50%;
    margin-left: -7.5px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  [data-toggle]::before,
  .mega {
    background-color: peru;
  }

  .mega {
    position: fixed;
    left: 0;
    width: 100%;
    height: min(50vh, 40rem);
  }
</style>