<header class="header">
  <div class="bg-accent">
    <p>Free delivery on all orders over 50 soles</p>
  </div>
  <div class="header-content flex-row-wrap-gap align-i-center sticky">
    <h1>PASIFLORA
    </h1>

    <a href="#" class="action-button msa">LOGIN</a>
    <a href="#" class="action-button">REGISTER</a>

    <button type="button" id="shoppingBag" class="action-button">
      <box-icon type='solid' name='shopping-bag'></box-icon>
      <span>0 ITEMS - S/0.00</span>
    </button>
    <div id="shoppingBagOverlay" class="d-none">
      <span>Shopping Bag</span>
      <a href="#">Full view</a>
    </div>
  </div>
</header>