<nav class="navbar navbar-expand-md">
  <div class="container-fluid nav-content">
    <!-- <button type="button" class="navbar-toggler collapsed mt-1 bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse collapse" id="navbarColor02">
      <ul class="navbar-nav relative">
        {%-for item in site.data.navigation -%}
        <li class="nav-item">
          <a class="" href="{{site.baseurl}}{{item.link}}">{{item.label}}</a>
        </li>
        {%-endfor -%}
        {%-for cat in site.data.categories -%}
        <li class="nav-item">
          <button type="button" id={{cat.label}} title={{cat.label}} data-toggle={{cat.id}} class="dropdown-toggle" aria-haspopup="true">{{cat.label}}</button>

          <div aria-labelledby={{cat.label}} id={{cat.id}} class="mega is-toggable flex p-0">
            <div class="abc ">

              <div class="def">
                <div class="col">
                  <h3>{{cat.content.minititle}}</h3>
                  <p>{{cat.content.minidesc}}</p> <a class="cta" href="#" target="_self">{{cat.content.cta}}</a>
                </div>
                {%-for list in cat.lists -%}
                <div class="col">
                  {%-for items in list -%}
                  <div style="border:.2rem solid transparent;">
                    <p><strong>{{items[0]}}</strong></p>
                    <ul>
                      {%-for item in items[1] -%}
                      <li>{{item}}</li>
                      {%-endfor -%}
                    </ul>
                    {%-endfor -%}
                  </div>
                </div>
                {%-endfor -%}
                <figure class="col">
                  <img class="img--small" src="{{site.url}}{{site.baseurl}}/images/{{cat.img}}" alt="una imagen" srcset="">
                </figure>
              </div>

            </div>
          </div>
        </li>
        {%-endfor -%}
        </li>
      </ul>

    </div>
  </div>
</nav>

<style>
  /* en min width 768px la navegacion mobile desaparce */
  @media (min-width: 767px) {
    .navbar-toggler {
      display: none;
    }
  }

  .navbar {
    /* padding-inline: var(--body-padding); */
    min-height: 0;
    /* bs */
  }

  .navbar>.container-fluid {
    padding: 0;
  }

  /* este es el del id, el que es colapsable */
  .navbar .navbar-collapse {
    padding-inline: var(--space-small);
  }
</style>