/* IMGS */
picture {
  position: relative;
  display: block;
}

picture::after {
  content: '';
  position: absolute;
  inset: 0;

  /* backdrop-filter: blur(1px) opacity(.4) brightness(1.1); */
  transition: all .1s ease;
}

article:focus picture::after {

  backdrop-filter: blur(2px) opacity(.4) brightness(1.2);
  /* las imagenes tienen un filtro en focus, si el navegador lo acepta */
}