/* Header */
.logo {
  text-decoration: underline wavy pink;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .5ex;
  padding-right: 1rem;
}

.header__search {
  margin-left: auto;

}

@media screen and (min-width:769px) {
  .header__search {
    max-width: min(30rem, 100%);

  }
}

.input.group--rounded {
  --radius: var(--bs-border-radius-xl);

}

.input.group--rounded>*:first-child {
  border-radius: var(--radius) 0 0 var(--radius) !important;
}

.input.group--rounded>*:last-child {
  border-radius: 0 var(--radius) var(--radius) 0 !important;
}



/* Navigation */

nav {
  min-height: 3rem;
}

nav .corner--tr {
  top: 0;
  right: 0;
  padding: 0;
}


.navbar-nav {
  width: 100%;
}

.navbar-nav>* {
  flex: 1;
}

.nav-item {
  /* min-width: 20%; si son 5 items para un mismo ancho o usar flex 1 */
}




.nav-item {
  color: #777;
  font-size: 1.2rem;
}

.nav-item:hover {
  background: var(--accent-light, coral);
}

.nav-item:focus-within {
  background: var(--accent, red);
}

.nav-item *:focus {
  outline: none;
  /* cualquier elemento que pueda y tenga focus no tendra un outline, porque el cambio de bgcolor ya demuestra el focus */
}




.navbar-nav [aria-expanded] {
  /* no incluyamos al toggle */
  width: 100%;
}

nav [aria-expanded=true] {
  /* background: cornsilk; */
}

nav [data-toggle] {
  text-align: start;
  /* en un inicio alineados los btns toggle al start, izq */
}





/* imagenes dentro de los bloques expandibles */
.img--small {
  max-width: 20ch;
  display: block;
  margin-inline: auto;
}

/* a partir de los 768px: */
@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-nav {
    --gap: .5rem;
    gap: var(--gap);
    font-size: .8rem;
  }



  /* los botones toggle y los enlaces 'home' y 'catalogo', tienen texto centrado y width 100% */

  .nav-item>a,
  .nav-item>[data-toggle] {
    display: block;
    width: 100%;
    text-align: center;
    font-size: var(--font-small);
  }


  /* ? pills */
  .nav-item {
    min-width: fit-content;
    /* min width fit content es muy importante para titulos o enlaces largos */
    border-radius: var(--radius-large);
    border: 1px solid currentColor;
    background-color: var(--bs-primary, lightblue);
    overflow: hidden;
    padding: .3rem;
  }

  .navbar-nav {
    /* background: white;
    border-radius: .5rem;
    outline: .1rem solid currentColor ya no, pues cada nav item es un pill */
  }

  /* para que el contenido del bloque expandible no se centre como sus toggles */
  .nav-item * {
    text-align: start;
  }

  .abc {
    position: absolute;
    width: 100%;
    inset: 0;
    top: 3rem;

    /* background: yellow; */
    z-index: 13;

    font-size: 1rem;
    padding: 2ex;
    border-radius: .5rem;
    outline: .1rem solid currentColor;
    gap: 2ex;
  }

  .def {
    display: flex;
    /* is kind of easy to remember theres .abc, inside there is .def */
  }

  .abc,
  .def {
    height: fit-content;
  }
}

/* fin del media query */