/* FOR THE ARTICLES CONTAINER & WRAPPER */
.auto-grid {
  --auto-grid-min-size: 13rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 5rem), 1fr));
  grid-gap: 1rem;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  /* padding: 0 var(--body-padding); */
}

.auto-grid li {
  /* padding: 1ex; es importante que no use padding porque es relativo y sus elementos absolute usan flex, que cuenta el padding*/
  text-align: center;
  color: #333;
}

.auto-grid>* {
  /* width: auto;
  min-height: 4rem; el alto las tarjetas de cada fila depende del item mas alto de la misma fila*/
}


/* FOR THE ELEMENTS INSIDE ARTICLE */

.article {
  --padding: .5rem;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 16%), 0 8px 10px 1px rgb(0 0 0 / 11%), 0 3px 14px 2px rgb(0 0 0 / 10%);
  border-radius: var(--radius-small);
  overflow: hidden;
  margin-bottom: 1rem;
}

.article__picture {
  /* aspect-ratio: 5/4;
overflow: hidden; si quisieras cortar la img */
  display: block;
  /* para que capture las dimensiones de su hijo img */
  padding: var(--padding, .3rem);
  background-color: cornflowerblue;
}

.article__body {
  padding: var(--padding, .3rem);
  /* same as article_picture */
}

.article__name {
  font-size: var(--font-small);
  font-weight: bold;
  /* text-align: center; ya no lo necesita*/
  margin-bottom: 0;
  /* por bs, pero lueg parece no necesario */
  min-height: 4ex;
  /* ex es el alto de la x, imaginando que a lo mucho ocupe dos lineas */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; por si le agregas el gradient overlay en ::*/
}

article:focus .article__name {
  text-decoration: underline wavy cornflowerblue;
}





/* for prices */
.article__prices {
  line-height: 0;
  /* para que no esten tan separadas las lineas */
  /* width: 100%;
   para que no hagan wrap con lo de debajo en smaller screens cambia en el parent el width de todos los hijos*/
}

.article__body>* {
  min-width: 100%;
}

.article__oldprice {
  font-size: 1.4rem;
  margin-right: 3ex;
}

/* en caso de no haber precio antiguo */
.article__oldprice:empty {
  display: none;
}

.childs-are-ib>* {
  display: inline-block;
}

.cart__price::before,
.article__oldprice::before,
.article__price::before {
  content: 'S/';
}



/* para input detro de label */
.form-control {
  /* width: min(5rem, 80%); */
  /* para sobreescribir el width 100% */
  /* max-height: 80%;
  min-height: 3rem; */
}


/* es el unico input number que tengo */
/* .auto-grid input[type=number] {
  font-size: 1.2rem;
  text-align: center;
  max-width: 100%;
} */




.input-pair {
  display: flex;
  border-radius: var(--radius);
  overflow: hidden;

  min-height: 6ch;
}

.input-pair>* {
  min-height: 0;
  border-radius: 0;
}

.input-pair>input[type="number"] {
  flex: 0;
  min-width: 7ch;
  border: 0;
}

.input-pair>.btn--send {
  flex: 1;
  /* el btn es el que se expande, no el input */
  font-size: .7rem;
}