:root {
  --space-very-big: 2.3rem;
  --space-big: 2rem;
  --space-regular: 1rem;
  --space-small: .5rem;
  --space-very-small: .3rem;
}

.button {
  cursor: pointer;
  text-align: center;
}

ion-icon {
  font-size: 1.5rem;
  color: var(--text);
  border-radius: 50%;
  border: .05rem solid var(--text);
  padding: .8rem;
}

.bg-accent {
  background: var(--accent);
  text-align: center;
  font-size: var(--font-small);
}

.sticky {
  position: sticky;
  top: 0;
}

.flex-row-wrap-gap {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap, .3em);
}

.flex-col-wrap-gap {
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap, .3em);
}


.space-between {
  justify-content: space-between;
}

.msa {
  margin-left: auto;
}

.mia {
  margin-inline: auto;
}

.width-fit-content {
  width: fit-content;
}

.has-full-width {
  width: 100%;
}

.has-limited-width {
  max-width: 70rem;
}






input,
form {
  font: inherit;
}


.input-button-pair {
  display: flex;
  background: cornflowerblue;

  align-self: stretch;
  /* todos los demas tienen algin-i-center */
}

header input {
  font-size: 1.3rem;
  padding: var(--space-very-small) var(--space-small);
}

.action-button {
  background: orange;
  padding: var(--space-very-small);
}



/* Posts */

/* layout */
.big-then-small-ones {
  display: grid;
  /* grid-auto-flow: column; */
  background: lightsalmon;
}

@media screen and (min-width:50rem) {
  .big-then-small-ones {
    grid-auto-flow: column;
  }
}

.big-then-small-ones>*:first-child {
  grid-area: span 3 / span 1;
  /* importante, 2da columna tiene 3 rows, cambiar primer span en caso de mas o menos rows alli */
  background: lightcoral;
}

.big-then-small-ones>* {
  padding: 2rem;
  display: grid;
  place-content: center;
  word-break: break-word;
}

/* counter */
.post {
  counter-increment: posts-counter;
}

.post h3::before {
  content: '0' counter(posts-counter);
  display: block;
  font-size: 3rem;
  color: white;
}